/**/
$max-width: 1270px;
$width-percent: 95%;
$biggestsize: 4rem;
$biggsize: 2.2rem;
$middlesize:1.6rem;
/**/
* {
  box-sizing: border-box;
  text-decoration: none;
  word-wrap: break-word;
}
html{
  font-size: 62.5%;
}
body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  background-color: black;
}
a,p{
  font-size:$biggsize;
}
.container {
  max-width: $max-width;
  width: $width-percent;
  margin: 0 auto;
}
header {
  text-align: right;
  background-color: rgba($color: white, $alpha: 0.5);
  height: 50px;
  width: 100%;
  position: fixed;
  z-index: 100;
  .header-link {
    a {
      display: inline-block;
      font-size: $middlesize;
      margin-left: 10px;
      line-height: 50px;
      padding: 0 10px;
      color: black;
      transition: 0.7s;
      &:hover {
        background-color: rgba($color: black, $alpha: 0.5);
        color: white;
      }
    }
  }
}
#top {
  padding: 300px 0;
  text-align: center;
  h1 {
    font-size: $biggestsize;
    display: none;
  }
  h2 {
    margin-top: 20px;
    font-size: $biggsize;
    display: none;
  }
}
#profile {
  background-color: white;
  padding-bottom: 100px;
}
.headline {
  text-align: center;
  font-size: $biggestsize;
  font-weight: bold;
  padding: 100px 0;
}
.grid-container {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 1fr;
  gap: 0 20px;
  grid-template-areas: "face profile-message";
}

.face {
  grid-area: face;
  img {
    width: 100%;
  }
}
.profile-message {
  width: 100%;
  grid-area: profile-message;
  line-height: 5rem;
  letter-spacing: 0.1rem;
  font-size: 100%;
}
#skills{
  color: white
}
.flex-container {
	display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}
.skill{
  text-align: center;
  width:30%;
}
.skill-word{
  padding: 5rem;
  text-align: left;
  line-height: 3rem;
  letter-spacing: 0.1rem;
  font-size: 100%;
}
