/**/
$max-width: 1270px;
$width-percent: 90%;
$biggestsize: 4rem;
$biggsize:2.2rem;
$normalsize: 1.8rem;
$smallesize:1.4rem;
$minsize:1rem;
/**/
* {
  box-sizing: border-box;
  text-decoration: none;
  word-wrap: break-word;
}
html{
  font-size: 62.5%;
}
body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  background-color: white;
}
a,p{
  font-size:$normalsize;
}
.container {
  max-width: $max-width;
  width: $width-percent;
  margin: 0 auto;
}
header {
  text-align: right;
  background-color: rgba($color: white, $alpha: 0.5);
  height: 50px;
  width: 100%;
  position: fixed;
  z-index: 100;
  .header-link {
    a {
      display: inline-block;
      font-size: $smallesize;
      margin-left: 1rem;
      line-height: 5rem;
      padding: 0 1rem;
      color: black;
      transition: 0.7s;
      &:hover {
        background-color: rgba($color: black, $alpha: 0.5);
        color: white;
      }
    }
  }
}
#top {
  padding: 30rem 0;
  text-align: center;
  h1 {
    font-size: $biggestsize;
    display: none;
  }
  h2 {
    margin-top: 2rem;
    font-size: $biggsize;
    display: none;
  }
}
#profile {
  padding-bottom: 10rem;
}
.headline {
  text-align: center;
  font-size: $biggestsize;
  font-weight: bold;
  padding: 8rem 0;
}
.grid-container {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 1fr;
  gap: 0 2rem;
  grid-template-areas: "face profile-message";
}

.face {
  grid-area: face;
  img {
    width: 100%;
  }
}
.profile-message {
  width: 100%;
  grid-area: profile-message;
  line-height: 5rem;
  letter-spacing: 0.1rem;
}
#skills{
  color: white;
  padding-bottom: 4rem;
}
.flex-container {
	display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}
.skill{
  text-align: center;
  width:30%;
}
.skill-picture{
  width: 100%;
  img{
    width: 50%;
    margin:0 auto;
  }
}
.skill-word{
  padding: 5rem;
  text-align: left;
  line-height: 3rem;
  letter-spacing: 0.1rem;
}
#products{
  padding-bottom: 8rem;
}
.product{
  width: 30%;
}
.product-picture-1{
  overflow:hidden;
  width: 100%;
  margin:0 auto;
}
#modal{
  display: none;
}
.modal{
  img{
    transition:1s all;
    width: 100%;
  }
  :hover{
    transform:scale(1.2,1.2);
    transition:1s all;
  }
}
.modal-after{
  width: 100%;
}
.product-picture-2{
  transition:1s all;
  width: 100%;
  overflow:hidden;
  img{
    width: 100%;
  }
  :hover{
    transform:scale(1.2,1.2);
    transition:1s all;
  }
}
.product-word{
  text-align: center;
  line-height: 2.5rem;
  letter-spacing: 0.1rem;
}

.detail{
  font-size:$minsize;
  padding: 3rem;
}